.git
.gitignore

.pytest_cache
.mypy_cache
.ruff_cache

__pycache__
*.pyc

.venv
.env

tests
notebooks
tableau

logs

README_images

*.ipynb

.pytest_cache

coverage.xml
htmlcov

data/raw

.DS_Store
*_review.txt
*_bundle.txt